<ion-view view-title="Account">
	<ion-content class="account">
            <div class="row">
                <div class="col col-50 login">
                    <a class="tab-item" href="#/{{url}}">
                        <i class="icon ion-android-contact"></i>
                        {{showText}}
                    </a>
                </div>
                
                <div class="col col-50 contact">
                    <a class="tab-item" href="#/contact-us">
                        <i class="icon ion-ios-telephone"></i>
                        Contact Us
                    </a>
                </div>
            </div>
            
            <div class="rate">
                <a class="tab-item">
                    <i class="icon ion-heart"></i>
                    <span>Rate this app</span>
                </a>
            </div>
            
            <div class="policy">
                <a class="tab-item">
                    <i class="icon ion-chatbubble"></i>
                    <span>Policies</span>
                </a>
            </div>
	</ion-content>
</ion-view>