<ion-view view-title="Admission">
	<ion-content class="has-header addmission">
        <div ng-if="netStatus">
            <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
        </div>
            
        <ion-spinner icon="ripple" class="spinner-assertive" ng-show="loadingStatus"></ion-spinner>

        <!--<div class="program-img-wrap">
            <img ng-repeat="progs in message"
                 ng-show="progs.isVisible"
                 src="{{baseUrl}}upload/{{progs.mobile_img}}" />
            <div class="button-bar">
                <a ng-repeat="progs in message"
                    class="button {{progs.buttonClass}}"
                    ng-click="switchTab({{progs.id}})">
                    {{progs.content_title}}
                </a>
            </div>
        </div>-->
        <div class="program-img-wrap">
            <img src="{{baseUrl}}upload/{{message[0].mobile_img}}" />
        </div>
        <tab-slide-box tab="0">
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <div class="button-bar">
                            <a href="javascript:;" class="button {{progs.buttonClass}}" ng-repeat="progs in message" on-finish-render="test()">
                                {{progs.content_title}}
                            </a>
                        </div>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="progs in message">
                    <ion-scroll style="height:100%">
                        <div class="card item item-text-wrap last-item" ng-bind-html="progs.description"></div>
                    </ion-scroll>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
        <!--<div class="card item item-text-wrap"
            ng-show="progs.isVisible"         
            ng-repeat="progs in message"
            ng-bind-html="progs.description">            
        </div>-->
        <div class="card item item-text-wrap" ng-if="netStatus">
            <h2>Downloads</h2>
        </div>
        <ion-list>
            <ion-item ng-repeat="ftitle in arrString track by $index">
                <a class="addmission-downloads"  ng-click="download_file('{{baseUrl}}{{ftitle}}')" target="_blank">{{arrString1[$index]}} <i class="ion-ios-download-outline"></i></a>
            </ion-item>
        </ion-list>

        <!-- <a class="btn btn-primary" ng-click="download_file('http://kcm.edu.np/upload/files/application_form.pdf')" >Download</a> -->

	</ion-content>
</ion-view>