<ion-view view-title="Create Post">
    <ion-content>
        <ion-spinner icon="ripple" class="spinner-assertive" ng-show="loadingStatus"></ion-spinner>
        <div class="create-post-wrap last-item">
            <h4>KCM Gadget Geeks</h4>
            
            <div class="post-upload-img">
                <a href=""><i class="ion ion-ios-upload-outline"></i><span>Upload post image</span></a>
            </div>
            <hr>
            <div class="item item-input post-text">
                <textarea placeholder="Your text here.." rows="6" cols="1"></textarea>
            </div>
        </div>
                
        </ion-content>
</ion-view>