<ion-view view-title="Groups">
    <ion-content>
        <ion-spinner icon="ripple" class="spinner-assertive" ng-show="loadingStatus"></ion-spinner>
        <div class="group-main-wrap">
             <div class="row group-head">
                <div class="col col-50">
                    <a href="">
                        <span class="tab-item">
                            <i class="ion ion-android-contacts"></i>
                            <i class="ion ion-ios-search"></i>
                        </span>
                        <span class="group-search-tab">Search <span>Group</span></span>
                    </a>
                </div>
                 <span class="seprate"></span>
                <div class="col col-50">
                    <a href="">
                        <span class="tab-item">
                            <i class="ion ion-android-contacts"></i>
                            <i class="ion ion-ios-plus-outline"></i>
                        </span>
                        <span class="group-create-tab">Create <span>Group</span></span>
                    </a>
                </div> 
            </div>
        </div>
    </ion-content>
</ion-view>