<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <ion-spinner icon="ripple" class="spinner-assertive" ng-show="loadingStatus"></ion-spinner>
        <div class="row">
            <div class="col">
                <div class="dash-effect">
                    <a href="#/about" class="dashboard-menu">
                        <i class="ion-information"></i>
                        About
                    </a>
                </div>
                
            </div>
             
             <div class="col">
                 <div class="dash-effect">
                     <a href="#/programs" class="dashboard-menu">
                         <i class="ion-ios-bookmarks-outline"></i>
                         Programs
                     </a>
                 </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="dash-effect">
                    <a href="#/about-siam" class="dashboard-menu">
                        <i class="ion-cube"></i>
                        About Siam
                    </a>
                </div>
            </div>
            
            <div class="col">
                <div class="dash-effect">
                    <a href="#/admission" class="dashboard-menu">
                        <i class="ion-android-create"></i>
                        Admission
                    </a>
                </div>
            </div>                     
        </div>
        
        <div class="row last-item">
            <div class="col">
                <div class="dash-effect">
                    <a href="#/news-events" class="dashboard-menu">
                        <i class="ion-ios-paper-outline"></i>
                        News & Events
                    </a>
                </div>
            </div>   
            
            <div class="col">
                <div class="dash-effect">
                    <a href="#/gallery" class="dashboard-menu">
                        <i class="ion-images"></i>
                        Gallery
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>