<ion-view view-title="Invite Friends">
    <ion-content>
        <ion-spinner icon="ripple" class="spinner-assertive" ng-show="loadingStatus"></ion-spinner>
        <div class="group-invite-friend-wrap last-item">
            <h4>KCM Gadget Geeks</h4>
            
            <div class="item item-input">
                <i class="icon ion-ios-search-strong placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </div>
            <div class="added-list">
                <ul>
                    <li>
                        <a href=""><span class="user-img"><img src="img/user-img.jpg"/></span> <span class="user-name">Jessica Parker</span></a>
                    </li>
                    <li>
                        <a href=""><span class="user-img"><img src="img/user-img-2.jpg"/></span> <span class="user-name">Jessica Parker</span></a>
                    </li>
                </ul>
            </div>
        </div>
        
    </ion-content>
</ion-view>