<ion-view view-title="News & Events">
	<ion-content class="padding news-event">
        <div ng-if="netStatus">
            <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
        </div>
        <ion-spinner icon="ripple" class="spinner-assertive" ng-show="loadingStatus"></ion-spinner>
		<div class="row last-item">
                    <ul>
                        <li ng-repeat="news in message">
                            <a href="#/news-detail/{{news.content_alias}}">
                            <ion-item ng-if="news.image != '' && news.image_status == '1'">
                                    <img src="{{baseUrl}}{{news.image}}" />
                                </ion-item>
                                <div class="news-event-des-wrap">
                                    <span>{{news.content_title}}</span>
                                    <p ng-bind-html="news.short_description"></p>
                                </div>
                            </a>
                            <!-- <span>{{news.created_at | date:'medium'}}</span> -->
                        </li>
		    </ul>
		</div>
	</ion-content>
</ion-view>