<ion-view view-title="Notifications">
    <ion-content class="notification">
        <ion-spinner icon="ripple" class="spinner-assertive" ng-show="loadingStatus"></ion-spinner>
        <ul class="last-item">
            <li>
                <span class="notification-tittle">Lorem ipsum dolor sit amet,</span>
                <p class="notification-content">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                <span class="notification-time">about an hour ago</span>
            </li>
            <li>
                <span class="notification-tittle">Lorem ipsum dolor sit amet,</span>
                <p class="notification-content">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                <span class="notification-time">about an hour ago</span>
            </li>
            <li>
                <span class="notification-tittle">Lorem ipsum dolor sit amet,</span>
                <p class="notification-content">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                <span class="notification-time">about an hour ago</span>
            </li>
            <li>
                <span class="notification-tittle">Lorem ipsum dolor sit amet,</span>
                <p class="notification-content">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                <span class="notification-time">about an hour ago</span>
            </li>
            <li>
                <span class="notification-tittle">Lorem ipsum dolor sit amet,</span>
                <p class="notification-content">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                <span class="notification-time">about an hour ago</span>
            </li>
            <li>
                <span class="notification-tittle">Lorem ipsum dolor sit amet,</span>
                <p class="notification-content">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                <span class="notification-time">about an hour ago</span>
            </li>
        </ul>
        </ion-content>
</ion-view>